<section>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-center">Address</th>
                <th class="text-center">Pincode</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Payment</th>
                <th class="text-center">Shpping status</th>
                <th>Deliveryd</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
               
                <td>{{this.datatime}}</td>
                <td>{{this.deliverydetails.address}}</td>
                <td>{{this.deliverydetails.pincode}}</td>
                <td>{{this.deliverydetails.mobile}}</td>
                <td>{{this.totalAmount}}</td>
                <td>{{this.paymentMethod}}</td>
                <td >
                    {{#if this.shipping}}
                    <a  class="btn btn-success btn disabled">"SHIPPED"</a>
                    {{else }}
                    <a href="/admin/allorders/shipped/{{this._id}}" class="btn btn-primary" onclick="return  confirm('are you want to shippe this order {{this._id}}') " >Shippe</a>
                    {{/if}}
                </td>
                <td><a class="btn btn-danger" href="view-order-delivered/{{{this._id}}}">Deliveryd</a></td>
                <td><a href="view-order-products/{{this._id}}">view products</a></td>

                
            </tr>
            {{/each}}
        </tbody>
    </table>

</section>