<section>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th class="text-center">Address</th>
                <th class="text-center">Pincode</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Amount</th>
                <th class="text-center">Payment</th>
                <th class="text-center">Status</th>
                <th class="text-center">shpping status</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
               
                <td>{{this.datatime}}</td>
                <td>{{this.deliverydetails.address}}</td>
                <td>{{this.deliverydetails.pincode}}</td>
                <td>{{this.deliverydetails.mobile}}</td>
                <td>{{this.totalAmount}}</td>
                <td>{{this.paymentMethod}}</td>
                <td>{{this.status}}</td>
                    {{#if this.shipping}}
                    <td>Shipped</td>
                    {{else }}
                    <td>Shpiping Processing </td>
                    
                    {{/if}}
                <td><a href="view-order-products/{{this._id}}">view products</a></td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>

</section>